/* input[type="file"] {
    display: none;
  } */
  
    #file-upload {
      display: none;
    } 
  .custom-file-upload {
    padding: 6px 12px;
    cursor: pointer;
  }
  
  .custom-file-upload:hover {
    background-color: #f2f2f2;
  }