#job-details-title{
    background-image: url('../../assets/images/Carrerrs/Job-details.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
}